.containerm {
    background-color: rgb(78, 76, 76);
    margin-top: 5%;
    margin-left:25%;
    width: 50%;
    max-width: 600px;
    min-width: 350px;
    max-height: fit-content;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 5% 8% rgba(0, 0, 0, 0.2);
}
.containersell{
    background-color: #ffffff;
    width: 60%;
    min-width: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
.image-container{
    position: relative;
    width: 100%;
}
.image-container img{
    position: relative;
    width: 100%;
    display: none;
}
.active{
    display: block;
}
.dot-container{
    width: 150px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.dot-container button{
    outline: none;
    cursor: pointer;
}
.dot-container button{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    border: 3px solid #8052ec;
    background-color: transparent;
}
.dot-container button:nth-child(1){
    background-color: #8052ec;
}
#prev,#next{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #8052ec;
    color: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bolder;
}
#prev{
    left: 15px;
}
#next{
    right: 15px;
}
@media(max-width:1200px) {
    .containerm {
        background-color: rgb(78, 76, 76);
        margin-top: 3%;
        margin-left:20%;
        width: 50%;
        max-width: 600px;
        min-width: 350px;
        max-height: fit-content;
        padding: 20px 10px;
        border-radius: 10px;
        box-shadow: 0 5% 8% rgba(0, 0, 0, 0.2);
    }
}
@media(max-width:800px) {
    .containerm {
        background-color: rgb(78, 76, 76);
        margin-top: 4%;
        margin-left:10%;
        width: 80%;
        max-width: 600px;
        min-width: 350px;
        max-height: fit-content;
        padding: 20px 10px;
        border-radius: 10px;
        box-shadow: 0 5% 8% rgba(0, 0, 0, 0.2);
    }
}
@media(max-width:500px) {
    .containerm {
        background-color: rgb(78, 76, 76);
        margin-top: 4%;
        margin-left:5%;
        width: 80%;
        max-width: 600px;
        min-width: 350px;
        max-height: fit-content;
        padding: 20px 10px;
        border-radius: 10px;
        box-shadow: 0 5% 8% rgba(0, 0, 0, 0.2);
    }
}
.containerm h1{
    color:rgb(218, 202, 63);
    font-size: 44px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.containerm h1 span{
    color:rgb(15, 173, 15);
    font-size: 54px;
}
label {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 500;
}
input {
    margin-bottom: 20px;
    border: none;
    font-size: 20px;
    border-bottom: 2px solid #585858;
    color: #585858;
    padding: 2px 15px;
}
input:focus {
    outline: none;
    border-bottom: 2.4px solid #e23d01;
}
.input-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.input-wrapper input {
    width: 100%;
}
.time-wrapper input {
    width: 60%;
}
select {
    width: 35%;
    border: 1px solid #585858;
    font-size: 20px;
    margin-left: 3%;
    padding: 8px 0;
    border-radius: 5px;
}
button {
    display: block;
    background-color: #a1a777;
    border: none;
    color: #ffffff;
    margin: 20px auto 0 auto;
    padding: 15px 40px;
    font-size: 20px;
    border-radius: 5px;
}
#result {
    background-color: #c6ffe2;
    margin-top: 30px;
    color: #585858;
    text-align: center;
    font-size: 18px;
    padding: 20px;
    border-radius: 5px;
}
#result div {
    margin-bottom: 10px;
}
#result span {
    color: #000000;
    font-weight: 500;
}